/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.title {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
}
.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 30px;
}
.btn {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.30rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}
/* header style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 2% 10%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1.20rem;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
.banner-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.banner-content > h1 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0;
}
.banner-img {
    width: 100%;
    height: auto;
}
/* main style */
/* team section */
.team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4% 10%;
}
.team-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    /* width: 50%; */
}
.team-div {
    width: 50%;
    padding: 0 5%;
}
.team-div h2, p, input {
    padding-bottom: 20px;
}
/* feature section */
.features {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 4% 10%;
}
.features-content {
    /* width: 800px; */
}
.features-content .title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.feat-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}
.feat-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-img img {
    padding-left: 50px;
    padding-bottom: 20px;
}
.feature-img .ten-y-badge {
    text-align: center;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFF;
    padding: 20px;
    width: 300px;
    position: relative;
    bottom: 100px;
}
.ten-y-badge p {
    padding: 0;
}
/* facts section */
.facts {
    margin: 4% 10%; 
}
.facts-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));    
    justify-items: center;
    padding: 20px 0;
    grid-gap: 1rem;
    margin: 50px 0;
    place-items: center;
}
.facts-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 241.831px;
    height: 241.831px;
    /* padding: 30px; */
    border-radius: 8px;
    border: 1px solid #FF900E;
    gap: 10px;
}
.facts-card > h2 {
    color: #424242;
    font-weight: 600;
}
.facts-card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsor section  */
.sponsor {
    margin: 4% 10%;
    text-align: center;
}
.spons-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));    
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    grid-gap: 1rem;
    place-items: center;
}
/* footer style */
footer {
    margin: 4% 10%;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 30px 0%;
}
footer p {
    padding: 0%;
    color: #131313;
}
/* media query */
/* mobile devices */
@media screen and (max-width: 576px) {
    .nav, .team, .features {
        flex-direction: column;
    }
    .nav > ul {
        gap: 10px
    }
    .nav h3 {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
    .banner-content > h1 {
        font-size: 3rem;
        padding: 20px 0;
    }
    .banner-content {
        padding-top: 10px;
    }
    .team-gallery {
        grid-template-columns: 1fr;
    }
    .team-div {
        width: auto;
        padding-left: 0;
        padding-top: 20px;
    }
    .feature-img img {
        padding: 0;
        padding-bottom: 20px
    }
    .feature-img .ten-y-badge {
        width: 250px;
        position: static;
        align-items: center;
    }
    .facts-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .spons-img {
        grid-template-columns: repeat(1, 1fr);
    } */
}
/* medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    .nav, .team, .features {
        flex-direction: column;
    }
    .nav > ul {
        gap: 30px
    }
    .nav h3 {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
    .banner-content > h1 {
        font-size: 3rem;
        padding: 20px 0;
    }
    .banner-content {
        padding-top: 10px;
    }
    .team-div {
        width: auto;
        padding-left: 10px;
        padding-top: 20px;
    }
    .facts-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    /* .spons-img {
        grid-template-columns: repeat(3, 1fr);
    } */
}
